
.playerBody{
    background-color: #063956;
    display: 'flex';
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
p{
    margin-top: 10%;
    text-align: center;
    color: #97cedf;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: large;
    opacity: 80%;
}
.buttonContainer{
    position: relative;
    width: 50%;
}
.playerText{
    font-size: 30px;
}
.inputContainer{
    display: 'flex';
    flex-direction: 'row';
    margin-left: auto;
    margin-right: auto;
}
.addPlayerBtn{
    background-color: #B3CF54;
    color: white;
}
.playerContainer{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 30px;
    border-radius: 25px;
    background-color: #B3CF54;
}
.playerTag{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}